# Environment variables
.env
*.env

# Virtual environment
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# AI / ML files
*.pkl
*.h5
*.pt
*.bin

# Node modules
node_modules/

# React build files
frontend/dist/
frontend/build/

# Logs
*.log

# Docker
docker-compose.override.yml

# Testing
coverage/
.pytest_cache/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
