fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]  
python-jose
python-dotenv
pydantic
pydantic[email]
passlib
argon2-cffi

python-multipart

# AI dependencies

fastapi
uvicorn
langchain
langchain-openai
langchain-community
langgraph
chromadb
yfinance
requests
scikit-learn
numpy
pandas
pydantic
python-dotenv
langchain-ollama
ollama
langchain-chroma
langchain-text-splitters